<!-- import polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="styles-styles.html">
<link rel="import" href="traffic-light.html">
<dom-module id="east-road">
    <template>
        <style include="styles-styles" is="custom-style"></style>


        <div class="lane-1"></div>
        <div class="lane-2"></div>

        <div class="opp-lane-1 flex flex--row--rev">
            <traffic-light status="[[status_1]]" icon="fa-arrow-up" status="{{status_1}}"></traffic-light>
        </div>
        <div class="opp-lane-2 flex flex--row--rev">
            <traffic-light status="[[status_2]]" icon="fa-arrow-right" status="{{status_2}}"></traffic-light>
        </div>


    </template>
    <script>
        Polymer({
            is: 'east-road',
            properties: {},
            ready: function () {
                var _this = this;
                document.addEventListener('go-dir-1', function (e) {
                    // turn semaphore red
                    _this.set('status_2','yellow');

                    setTimeout(function(){
                        _this.set('status_1','red');
                        _this.set('status_2','green');
                    },30000)
                });
                document.addEventListener('go-dir-2', function (e) {
                    _this.set('status_1','yellow');
                    _this.set('status_2','yellow');

                    setTimeout(function(){
                        _this.set('status_1','green');
                        _this.set('status_2','red');
                    },30000)
                });
                document.addEventListener('go-dir-3', function (e) {
                    _this.set('status_1','yellow');

                    setTimeout(function(){
                        _this.set('status_1','red');
                        _this.set('status_2','red');
                    },30000)
                });
                document.addEventListener('go-dir-4', function (e) {
                    // nothing to do, we have red
                });

                // when error state is detected, lights should flash yellow
                document.addEventListener('error-state', function (e) {
                    console.log('east error-state ');
                });
            }
        })
    </script>
</dom-module>
